
<table class="table table-striped">
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>Position</th>
            <th>group</th>
            <th>edit teacher</th>
        </tr>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.position }}</td>
            <td>{{ teacher.group.name }}</td>
            <td><a href="{% url 'teacher:edit' teacher.id %}">EDIT</a></td>
        </tr>
    {% endfor %}
</table>
</table>

