{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Add new group:</h1>

    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Create">
    </form>
{% endblock %}