{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Edit group:</h1>

    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Create">
        <input formaction="{% url 'group:delete' group.id %}" type="submit" value="Delete">
    </form>

<h3>Teacher:</h3>

{{ group.teacher }}

<h3>Students:</h3>

{% include 'includes/students-table.html' %}

{% endblock %}