{% extends 'base.html' %}

{#{% block title %}#}
{#        <title>Students list</title>#}
{#{% endblock %}#}

{% block content %}
<div class="form-group">
    <h3>Search tool:</h3>
    <h4>Our groups:</h4>
    <form>
      <label>Group_number:</label>
      <input type="text" name="group_number"><br><br>

      <label>Curator:</label>
      <input type="text" name="curator"><br><br>

        <label>Students:</label>
      <input type="text" name="students"><br><br>

      <label>Starting_date:</label>
      <input type="text" name="starting_date"><br><br>

      <input type="submit" value="Search">
    </form>
</div>
{% include 'includes/group_table.html' %}

{% endblock %}