{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="form-group">
    <h1>Add the fresh teacher:</h1>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Create">
    </form>
    </div>
{% endblock %}