{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Save">
        <input formaction="{% url 'teacher:delete' teacher.id %}" type="submit" value="Delete">
    </form>
{% include 'includes/group_table.html' %}

{% endblock %}
