{% extends 'base.html' %}

{#{% block title %}#}
{#        <title>Students list</title>#}
{#{% endblock %}#}

{% block content %}
>
    <div class="form-group">
        <h3>Search tool:</h3>
    <form>
      <label >First name:</label>
      <input type="text" name="first_name"><br><br>

      <label>Last name:</label>
      <input type="text" name="last_name"><br><br>

      <label>Position:</label>
      <input type="text" name="position"><br><br>

      <input type="submit" value="Search">
    </form>
    </div>
{% include 'includes/teacher_table.html' %}
    <br>
{% include 'pagination.html' %}
{% endblock %}
