
<table class="table table-striped">
        <tr>
            <th>Group id</th>
            <th>Group curator</th>
            <th>Group students</th>
            <th>Group start</th>
            <th>Group teacher</th>
            <th>EDIT</th>
        </tr>
    {% for group in groups %}
        <tr>
            <td>{{ group.group_number }}</td>
            <td>{{ group.curator }}</td>
            <td>{{ group.students }}</td>
            <td>{{ group.starting_date }}</td>
            <td>{{ teacher.group.name }}</td>
            <td><a href="{% url 'group:edit' group.id %}">EDIT</a></td>
        </tr>
    {% endfor %}
</table>
{% include 'pagination.html' %}