{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Edit user</title>
{% endblock %}

{% block header%}
<h3>Edit user</h3>
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">

        <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200" src=" {{ user.profile.image.url }} ">
            </div>
            <div class="media-body p-3 m-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }} </h3>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>


        {% csrf_token %}

        {{user_form|crispy}}
        {{profile_form|crispy}}

        <input type="submit" class="btn btn-success" value="Save">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>
    </form>

{% endblock %}
