
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Register new user</title>
{% endblock %}

{% block header%}
<h3>Register new user</h3>
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-success" value="Register">
        <a class="btn btn-light" href="{% url 'core:index' %}">Home</a>
    </form>

{% endblock %}