    <table class="table table-striped">
        <tr>
            <th>EDIT</th>
            <th>Student's ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Birthdate</th>
            <th>UUID</th>
            <th>Group</th>
        </tr>
        {% for student in students %}
            <tr>
                <th><a href="{% url 'students:edit' student.uuid %}">EDIT</a></th>
                <th>{{ student.id }}</th>
                <th>{{ student.first_name }}</th>
                <th>{{ student.last_name }}</th>
                <th>{{ student.phone_number }}</th>
                <th>{{ student.birthdate }}</th>
                <th>{{ student.uuid }}</th>
                <th>{{ student.group }}</th>
            </tr>
        {% endfor %}
    </table>
</table>
<br>
{% include 'pagination.html' %}
