{% extends 'base.html' %}

{#{% block title %}#}
{#        <title>Students list</title>#}
{#{% endblock %}#}

{% block content %}
    <div class="form-group">
    <h3>Search tool:</h3>
    <form>
        <label>First name:</label>
        <input type="text" name="first_name"><br><br>

        <label>Last name:</label>
        <input type="text" name="last_name"><br><br>

        <label>Phone number</label>:</label>
        <input type="text" name="phone_number"><br><br>

        <label>Birthdate</label>:</label>
        <input type="text" name="birthdate"><br><br>

        <input type="submit" value="Search">
    </form>
    </div>
<h3>Students:</h3>

{% include 'includes/students-table.html' %}

{% endblock %}