
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>Create a new student:</h1>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Create">
    </form>
{% endblock %}